/*=== Filters Class ===*/

/*===== Filters style =====*/
.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
}

/*===== Search button style =====*/
.filters button {
	font-size: 18px;
	background: #ff5a5f;
	color: #fff;
	height: 48px;
	width: 20%;
	border: 0;
	border-radius: 4px;
	margin: 12px 30px;
	float: right;
}
/*===== Search button hover opacity =====*/
.filters button:hover {
	opacity: 90%;
}
